body
{
    background: rgb(141, 136, 136);
    color: rgba(4, 25, 119, 0.849);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: rgb(255, 217, 0);
    box-shadow: 0px 2px 20px 0px rgb(240, 205, 6);
    color: rgb(30, 3, 150);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 3px solid rgb(4, 94, 24);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;

}
#post
{
    background: white;
    padding: 1em;
}
#footer
{
    background: rgb(255, 217, 0);
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 0.1em;
}